@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: #000;
    --primary: #093;
    --secondary: #E0FFEA;
    --accent: #CAFFDC;
    --heading: #68FF9A;
    --text: #CAFFDC;
    font-family: "Inter", sans-serif;
  }
}
@layer base {
  * {
    color: var(--text);
    background-color: var(--background);
  }
  body {
   
  }
}