@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #000;
    --primary: #093;
    --secondary: #E0FFEA;
    --accent: #CAFFDC;
    --heading: #68FF9A;
    --text: #CAFFDC;
    font-family: "Inter", sans-serif;

    box-sizing: border-box;
    padding: 0;
    margin: 0;

    overflow: auto;

    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: 240 5.3% 26.1%;

    --sidebar-primary: 240 5.9% 10%;

    --sidebar-primary-foreground: 0 0% 98%;

    --sidebar-accent: 240 4.8% 95.9%;

    --sidebar-accent-foreground: 240 5.9% 10%;

    --sidebar-border: 220 13% 91%;

    --sidebar-ring: 217.2 91.2% 59.8%
  }
  .dark {
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%
  }

  .text-foreground{
    color: var(--text);
  }
}
@layer base {
  * {
    @apply border-border

  }

  body {
    color: var(--text);
    background-color: var(--background);
    font-family: 'Press Start 2P', cursive;
  }
}

@layer utilities {
  .font-press-start {
    font-family: 'Press Start 2P', cursive;
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  5% {
    opacity: var(--max-opacity);
    transform: translateY(-20px) translateX(calc(-10px * var(--drift)));
  }
  20% {
    opacity: var(--max-opacity);
    transform: translateY(-80px) translateX(calc(-5px + 10px * var(--drift)));
  }
  100% {
    transform: translateY(calc(-400px * var(--speed))) translateX(calc(-20px + 40px * var(--drift)));
    opacity: 0;
  }
}

.animate-float {
  animation: float forwards cubic-bezier(0.25, 0.1, 0.25, 1);
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15px);
  }
}

.bounce-animation {
  animation: bounce 2s ease-in-out infinite;
}

@keyframes surge-glow {
  0% {
    box-shadow: 0 0 5px var(--primary),
                0 0 10px var(--primary),
                0 0 15px var(--primary);
  }
  50% {
    box-shadow: 0 0 10px var(--primary),
                0 0 20px var(--primary),
                0 0 30px var(--primary);
  }
  100% {
    box-shadow: 0 0 5px var(--primary),
                0 0 10px var(--primary),
                0 0 15px var(--primary);
  }
}

.surge-glow {
  animation: surge-glow 2s ease-in-out infinite;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}


